<div>
    <i class="bi bi-arrow-left-short bi-icon-class backIcon" (click)="navigateBack()"></i>
    <p class="header">Forget password</p>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">

            <div class="mb-5 p-5 card-body">
                <!-- Start Form-->
                <form [formGroup]="forgetPasswordFrom">
                    <div class="form-group ">
                        <input type="email"  formControlName="email" class="form-control" 
                            placeholder="Enter your registered email address" 
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.pattern">Please enter valid one.</div>
                                
                            </div>  
                           
                    </div>

                    <!--Login Button-->
                    <button type="button" class="btn btn-primary btn-block  loginbtn"
                        name="login" (click)="onSubmit()">CONTINUE</button>
                    <!--End Login Button-->

                </form>
                <!--End From-->
                <p class="text-center mt-4" (click)="navigateToLogin()" >Login</p>

                </div>
            </div>
        </div>
    </div>

