<div>
    <i class="bi bi-arrow-left-short bi-icon-class backIcon" (click)="navigateBack()"></i>
    <p class="header">Reset Password</p>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">

            <div class="mb-5 p-5 card-body">
                <!-- Start Form-->
                <form [formGroup]="resetPasswordFrom">
                    <div class="form-group ">
                        <input type="password" value="12345678" formControlName="password" class="form-control" 
                            placeholder="New Password" 
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">password is required</div>
                                <div *ngIf="f.password.errors.pattern">Please enter valid one.</div>
                                
                            </div>  
                           
                    </div>

                    <div class="form-group ">
                        <input type="email"  formControlName="confirmpassword" class="form-control" 
                            placeholder="Confirm Password" 
                            [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" />
                            <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmpassword.errors.required">confirmpassword is required</div>
                                <div *ngIf="f.confirmpassword.errors.pattern">Please enter valid one.</div>
                                <div class="error-msg"
                                *ngIf="resetPasswordFrom.value.password !== resetPasswordFrom.value.confirmpassword">Password
                                Mismatch.</div>
                            </div>  
                           
                    </div>

                    <!--Login Button-->
                    <button type="button" class="btn btn-primary btn-block  loginbtn"
                        name="login" (click)="confirm()">CONFIRM</button>
                    <!--End Login Button-->

                </form>
                <!--End From-->

                </div>
            </div>
        </div>
    </div>

