.a-o-i {
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
}
.a-o-i-t {
  @extend .a-o-i;
  font-size: 25px;
  padding: 15px;
  border-bottom: 1px solid lightgray;
}

.o-t-p {
  display: block;
  margin-top: 10px;
  font-size: 19px;
}

.card {
  padding: 2rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  border-radius: 4px;
  background: white;
  text-align: center;
  width: 550px;
  margin: 0 auto;
  @media all and (max-width: 767px) {
      width: 100%;
  }
  
}
.otp-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resend{
  display:flex;
  justify-content: flex-end;
  text-align: end;
  margin-right: 2px

}
.verify{
  background-color: black;
  /* border-block-color: black; */
  border: black;
  /* width: 50px; */
  height: 41px;
  color: white;
}

.header{
background-color: black;
color: white;
height: 36px;
padding-left: 41px;
padding-top: 5px;
}
.backIcon{
font-size: 25px
}

.bi-icon-class {
position: absolute !important;
font-size: 30px !important;
font-weight: 600 !important;
margin-left: 9px !important;
color: white;
margin-top: -10px;
}
