.main{
    padding-top: 4%;
}
.imgSection{
    margin-top:24px;
}
.header{
    margin-top: 45px;
    background-color: black;
}
.headerText{
    margin-left: 30px;
    color: white;
    padding-top: -23px;
    font-size: 20px;
    padding-top: 6px;
}
.mainIcon{
    display: flex;
    .icon{
        font-size: 20px;
        color: white;
}
}

.introMain-wrapper {
    margin-top: 10px;
    display: flex;
    .introImg {
      width: 60px;
      height: 60px;
      margin: 10px 0;
        img {
            border-radius: 50px;
            width: 100%;
        }
    }
}
.imgcover{
    height: 100%;
    width: 100%;
    border-radius: 50px;
}
.text{
    white-space: nowrap;
}
.nameAlign{
    margin-top: 16px;
}
.line{
    border-bottom: 1px solid;
    color: lightgray;
    margin-top: 1px;
}

.relation{
    display: flex;
    justify-content: space-between;
}
.imgstyle{
    width: 100%;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    margin-bottom: 20px;
  }
  .text{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-text{
    font-size: 12px;
  }
  .notification{
    margin-bottom: 25px;
  }
  .outerdiv-text{
    display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:white;
	color:black;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.my-float{
	margin-top:22px;
}
    .userDetail{
        margin-bottom: 0px !important;
    }
    .relationship{
        color: black;
        font-size: 17px;
    }





