<div class="parentLoader"*ngIf="isLoading">
    <app-custom-spinner></app-custom-spinner>
</div>
<div class="container"*ngIf="!isLoading">
    <div class="loyalityMain-page">
        <div class="container mt-5">
            <div class="row" >
                <div class="col-md-6 col-sm-6 col-xs-12 carddetailposition"
                    *ngFor="let loyalityItem of myLoyalityPointList">
                    <div class="card therapist-card">
                        <div class="card-body shadow" (click)="openLoyality(loyalityItem?.locationId._id,loyalityItem?.have)"> 
                            <div class="therapist-details">
                                <div class="therapist-img" >
                                    <img src="{{ (loyalityItem && loyalityItem.company && loyalityItem.company.profileImg) ? loyalityItem.company.profileImg : '../../../assets/images/no_image.png'}}"
                                        alt="rere"/>
                                </div>
                                <div class="therapist-text">
                                    <span>{{loyalityItem?.locationId.name}}</span>
                                    <div class="star-wrapper">
                                        <span>{{loyalityItem?.locationId.city}}
                                            {{loyalityItem?.locationId.state}}</span>
                                    </div>
                                </div>
                                <div class="point">
                                    <span>{{loyalityItem?.have}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>